
form {
    display: flex ;
    flex-direction: column;
    gap : 10px;
    padding : 15px 10px;
    background-color: rgb(171, 198, 238); 
    border-radius: 5px;  
}

input {
    height: 30px;
    border-radius : 5px;
    padding: 15px;
    outline: none;
}

form h1:after{
    content : "";
    display: block;
    border : 1px solid black;
    margin-bottom: 20px;
}
.div-form {
    display : flex;
    flex-direction: column;
}

form h1 {
    
}

textarea {
    padding: 15px;
    height: 150px;
    resize: none;
    border-radius: 5px;
    outline: initial;
}

input[type="submit"] {
    margin-top : 20px;
    text-align: center;
    background-color: var(--secondary-color);
    padding : initial;
    font-size: 25px;
}

address {
    text-align: center;
    margin-bottom: 25px;
}

section {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}