footer{
    color: white;
    font-family:var(--title-font);

}

.title-footer{
    color: var(--secondary-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: initial;
    margin-bottom: initial;

}
.bloc-infos1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    border-top: 0.5px solid var(--primary-color);
    border-right: 0.5px solid var(--primary-color);
    border-left: 0.5px solid var(--primary-color);
    box-sizing: border-box;
}

.title-footer2{
    font-weight: 600, Semi Bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bloc-infos2{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1rem;
    font-size: 0.6rem;
    border: 0.3px solid #000000;
    box-sizing: border-box;

}

.contact-infos{
    background: #219EBC;
    border: 0.3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 0.8rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 0.8vw;
    padding-left: 0.8vw;

}

.bouton-contact{
    font-size: 1rem;
  
}

.logo-footer{
    width:2.5rem; 
}

.logo-foot{
    margin-right: auto;
    margin-left: auto;
}

.fa-brands{
    font-size:1rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    
}

.question{
    font-size:1.1rem;
}

  .flex-infos2 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }
  
  .flex-infos2.reseaux .logo-foot{
      grid-row: 1 / 3;
  }

  .flex-infos2.reseaux .logo-reseaux{
    text-align: center;
}

  .flex-infos2.adresse{
      padding-left: 1rem;
  }

  /*Responsive Footer*/

  @media screen and (min-width: 450px) { 
      .bloc-infos1 {
          display:none;
      }

      .bloc-infos2 {
          font-size: 0.8rem;
      }
      .flex-infos2.adresse{
        text-align: right;
        padding-right: 3vw;
    }
        .flex-infos2:first-child{
          padding-left: 3vw;  
    }
        .logo-footer{
            width: 3.5rem;
        }

        .fa-brands{
            font-size:1.5rem;
        }

  }