/* index */
body{
    background-image: url(../assets/calltoaction.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cta-h1{
    color: white;
    background-color: initial;
    font-size: 4.5rem;
    font-family: var(--title-font);
    text-shadow: 5px 10px 4px rgba(13, 1, 6, 0.5);
    margin: 12rem 0 0 0;
    font-weight: 800; /* ne fonctionne pas */
}

.cta-h2{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    margin : 0 0 1rem 0 ;
    font-family: var(--title-font);
    text-shadow: 5px 10px 4px rgba(13, 1, 6, 0.5);
    font-weight: 800; /* ne fonctionne pas */
}

.cta-buttons{
    display: flex;
    justify-content: space-around;
}

.cta-picto{
    height: 6rem;
    width: 6rem;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.cta-picto-font{
    font-family: var(--title-font);
    font-size: 0.8rem;
    font-weight: 600;
}

.cta-size-picto{
    height: 3.5rem;
}

footer{
    
}