/* index */

section{
    background-image: url(../assets/calltoaction.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42.3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.cta-h1{
    color: white;
    background-color: initial;
    font-size: 4.5rem;
    font-family: var(--title-font);
    text-shadow: 5px 10px 4px rgba(13, 1, 6, 0.5);
    box-shadow: none;
    margin: 0;
    font-weight: 800; /* ne fonctionne pas */
}

.cta-h2{
    color: white;
    background-color: initial;
    text-align: center;
    font-size: 1.8rem;
    margin : 0 0 0.8rem 0 ;
    font-family: var(--title-font);
    text-shadow: 5px 10px 4px rgba(13, 1, 6, 0.5);
    font-weight: 800; /* ne fonctionne pas */
}

.cta-buttons{
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
}

.cta-picto{
    height: 6rem;
    width: 6rem;
    background-color: white;
    border: 0.5px;
    border-radius: 35px;
    padding: 5px;
    box-shadow: 5px 5px 2px rgba(184, 176, 176, 0.75);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.cta-picto-font{
    font-family: var(--title-font);
    font-size: 0.8rem;
    font-weight: 600;
}

.cta-size-picto{
    height: 3.5rem;
}
