
.pad {
    height: 100px;
}

body {
    margin : 1rem;
}

body h1 {
    background-color: var(--secondary-color);
    margin-bottom: 1.5rem;
    border-radius: 0.4rem;
    text-align: center;
}

.bloc-massage {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color); 
    padding : 0.5rem 0.8rem 0 0.8rem;
    border-radius: 0.4rem;
    margin: 0  1rem 1rem 1rem;
    box-shadow: var(--shadow);
}

.bloc-massage div.bloc-titre {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.9rem;
}

.bloc-titre h2{
    font-size: 1rem;
}

.bloc-massage div.bloc-img {
    display: flex;
    flex : 1;
    gap : 0.6rem;
    margin-bottom : 1rem;
}

div.bloc-img img:nth-child(1) {
    width : 65vw;
    height : auto;
    flex : 1;
    border-radius: 5px;;
}

div.bloc-img img:nth-child(2) {
    transition: .4s ease-in-out all;
    width : 1.8rem;
    height : 1.8rem;
    align-self : center;
}

.bloc-massage p.toogle-paragraphe {
    display : initial;
}

img.rotate-btn {
    transform: rotate(180deg);
    transition: .4s ease-in-out all;
}

.bloc-massage p {
    font-size: 0.9rem;
    display : none;
    margin-bottom: 1rem;
    width: clamp( 120px, 100%, 510px);
    text-align: justify;
}

/* ======================= MEDIA QUERY ======================== */

@media screen and (min-width: 450px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    div.bloc-img img:nth-child(1) {
        width : 65%;
        max-width: 75ch;
        
        /*
        max-height: 250px;
        min-height: 300px;
        */
    }

    div.bloc-img img:nth-child(2) {
       display : none;
    }

    /** grid */
    div.bloc-massage {
        padding : 10px 25px;
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: 2.5rem auto;
    }

    .bloc-massage div.bloc-titre {
        grid-column: 1 / span 2;
        height: 40px;
    }

    .bloc-massage div.bloc-img {
        grid-column: 1;
        min-width: 120px;
    }

    .bloc-massage p {
        display : initial;
        grid-column: 2;
        padding : 0 0 0 20px;
        margin-bottom: 0;
        width: 100%;
        text-align: justify;
        color : black;
        font-size: 1rem;
        max-width: 65ch;
    }
}