/* navigation */
nav img{
    width: 4rem;
    padding: 5px;
}
 
.main-navigation{
    background-color: var(--secondary-color);
    font-family: var(--principal-font);
    text-shadow: var(--shadow);
    position: fixed;
    top : 0;
    width: 100%;
    z-index: 5;
} 
 
.nav-wrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.menu{
    display: none;
    flex-basis: 100%;
    list-style: none;
}
 
.menu li a{
    display: flex;
    justify-content: center;
    padding: .3em;
    text-decoration: none;
    font-size: 20px;
}
 
.menu-checkbox:checked ~ .menu {
    display: block;
}
 
.menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -5000px;
}
 
.menu-toggle{
    font-size: 1.5rem;
    color: white;

}

@media screen and (min-width: 450px) {

.menu-checkbox {
    display: none;
}

.menu-toggle {
    display: none;
}
.menu {
    display: initial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--principal-font);
    text-shadow: var(--shadow);
    
} 
.nav-wrapper {
    flex-wrap: initial;
    width: auto;
    display: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding:0;
}
.menu li a {
    font-size: 1.3Rem; 
    padding: 5px;
}

.menu li {
    padding-right: 30px;
}
.menu li:last-child {
    background-color: var(--primary-color);
    margin: 0;
    padding:15px;    
}
.menu li a:hover {
    color: #023047;
}

}
