
 .pad {
    height: 100px;
  }

      
.pack1{
    margin: initial;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%  auto;
    grid-template-rows: repeat(7, 60px);  
    /* padding-left: 20px;   */
}

 .texte1 h2 {
     text-align: initial;
 }   

 .texte2 h2 {
    text-align: initial;
}

.texte1  {
    border-radius: 15px;
    background-color: var(--primary-color);
    grid-column: 1 /6;
    grid-row: 1/ 6;
    color: #fbfbff;
  
    max-height: 300px;

    max-height: 200px;
    max-width: 65ch;

    padding: 2vw 10vw 2vw 2vw;  
    box-shadow: var(--shadow);
}

.img1 {
    z-index: 1;
    grid-column: 5 / 9;
    grid-row: 3 / 4;
    border-radius: 15px;
    width: 20vw;
    min-width: 150px;
    height: auto;
    box-shadow: var(--shadow);
}

.pack2 {
    margin: initial;
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: repeat(7, 60px);  
    /* padding-left: 20px;   */
    border-radius: 15px;
}
    
.texte2  {
    border-radius: 15px;
    background-color: var(--primary-color);
    grid-column: -1 / -6;
    grid-row: 1/ 6;
    color: #fbfbff;

    max-height: 300px;

    max-height: 200px;
    max-width: 65ch;

    padding: 2vw 2vw 2vw 6vw;  
    box-shadow: var(--shadow);
}

.img2 {
    z-index: 1;
    grid-column: -7 / -10;
    grid-row: 3 / 4;
    border-radius: 15px;
    width: 20vw;
    min-width: 150px;
    height: auto;
    box-shadow: var(--shadow);
}

.texte1 h2, .texte2 h2 {
    text-align : initial;
}

@media screen and (min-width: 450px){ /* section version desktop */

    .pack1 {
        display: initial;
        margin: initial;
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% auto;
        grid-template-rows: repeat(16, 30px);  
        padding-left: 20px;  
    }

    .pack2 {
        display: initial;
        margin: initial;
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% auto;
        grid-template-rows: repeat(16, 30px);  
        padding-left: 20px;  
    }

    .texte1 {
        grid-column: 3 /12;
        grid-row: 1/ 12;
    }

    .img1 {
        grid-column: 9 / 15;
        grid-row: 3 / 4;
        max-height: 350px;
    }

    .texte2 {
        grid-column: -3 /-12;
        grid-row: 1/ 12;
    }

    .img2 {
        grid-column: -9 / -15;
        grid-row: 3 / 4;
        max-height: 350px;
    }

    .texte1 h2 {
        text-align: initial;
        font-size: 2rem;
    }  

    .texte2 h2 {
        text-align: initial;
        font-size: 2rem;
    }


.pack1, .pack2 {
    display: none;
}


}