
 .pad {
    height: 100px;
  }

.card1 {  
    margin:0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
    
}

 #img1 {
    background-color: var(--secondary-color);
    grid-column: 1 / 6;
    grid-row: 1 / 3;    
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.card1 #p1 {

    background-color: var(--primary-color);
    grid-column: 5 / 8;
    grid-row: 2 / 4;
    z-index: 1;   
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.card2 {  

    margin:0;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
}

 #img2 {
    background-color: var(--secondary-color);
    grid-column: -1 / -6;
    grid-row: 1 / 3;    
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.card2 #p2 {
    background-color: var(--primary-color);
    grid-column: -5 / -8;
    grid-row: 2 / 4;
    z-index: 1; 
    padding: 1rem;  
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.card3 {  
    margin:0;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
}

 #img3 {
    background-color: var(--secondary-color);
    grid-column: 1 / 6;
    grid-row: 1 / 3;  
    box-shadow: var(--shadow);
    border-radius: 5px;  
}

.card3 #p3 {
    background-color: var(--primary-color);
    grid-column: 5 / 8;
    grid-row: 2 / 4;
    z-index: 1;  
    padding: 1rem; 
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.card4 {  

    margin:0;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
}

 #img4 {
    background-color: var(--secondary-color);
    grid-column: -1 / -6;
    grid-row: 1 / 3;    
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.card4 #p4 {
    background-color: var(--primary-color);
    grid-column: -5 / -8;
    grid-row: 2 / 4;
    z-index: 1;
    padding: 1rem;   
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}