
body {
    margin : 15px;
}

body h1 {
    background-color: var(--secondary-color);
    margin-bottom:  25px;
    border-radius: 5px;
    text-align: center;
}

.bloc-spa h2 {
    font-size: 15px;
    font-weight: bold;
    margin : 15px 0;
}

.bloc-spa {
    display: flex;
    gap : 10px;
    background-color: var(--primary-color);
    padding : 0 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bloc-spa div.bloc-gauche {
    flex : 1;
    min-width: 80%;
    padding-bottom: 15px;
}

.bloc-spa div.bloc-droite {
    flex : 1;
    min-width: 15%;
}

div.bloc-droite img {
    width: 45px;
    height:auto;
    position : relative;
    top : 60px;
}

.bloc-gauche img {
    width: 100%;
    height : auto;
    border-radius: 5px;
}

.bloc-gauche p.toogle-paragraphe {
    display : initial;
}

.bloc-gauche p {
    font-size: 13px;
    text-align: center;
    width: 35ch;
    display : none;
}

img.rotate-btn {
    transform: rotate(180deg);
    transition: .4s ease-in-out all;
    width: 20px;
    height: auto;
}

div.bloc-droite {
    display : flex;
    flex-direction: column;
    align-items: center;
}

div.bloc-droite h2 { 
    position: relative;
    right : -10px;
}
