
 .pad {
    height: 100px;
  }

/* section */
.main-section{
    width: 396px;
    margin: 10px auto;
}

.wrapper1 a, .wrapper2 a{
    text-decoration: none;
}

.wrapper1{
    position: absolute;
    z-index: 0;
    background-color: #023047;
    height: 300px;
    width: 300px;
    padding-left: 20px;
    border-radius: 15px;
}

.wrapper1 h2, p{
    width: 130px;
    text-align: justify;
    color: #fbfbff;
}

.spa{
    position: absolute;
    z-index: 3;
    width: 30%;
    left: 60%;
    top: -50px;
}

.spa img{
    border-radius: 15px;
}

<<<<<<< HEAD
.wrapper2{
    position: absolute;
    z-index: 0;
    background-color: #023047;
    width:300px;
    height: 300px;
    padding-left: 20px;
    margin-top: 370px;
    border-radius: 15px;
=======
.card3 {  
    margin:0;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
>>>>>>> parent of d050cf8... grid page spa modif section 3&4
}

.wrapper2 h2, p{
    width: 130px;
    text-align: justify;
    color: #fbfbff;
}

.massage{
    position: absolute;
    z-index: 3;
    width: 30%;
    left: 60%;
    top: -50px;
}

<<<<<<< HEAD
.massage img{
    border-radius: 15px;
=======
.card4 {  

    margin:0;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(90%/7));
    grid-template-rows: repeat(3, 80px);
    color: #023047;
>>>>>>> parent of d050cf8... grid page spa modif section 3&4
}

@media screen and (min-width: 65em){ /* section version desktop */
    .main-section{
        width: 768px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .wrapper1{
        height: 200px;
        width: 648px;
        margin-right: 100px;
    }

    .wrapper1 h2, p{
        width: 330px;
        text-align: justify;
        color: #fbfbff;
    }

    .spa{
        left: 85%;
        top: 30px;
    }

    .wrapper2{
        height: 200px;
        width: 520px;
        padding-left: 150px;
        margin-left: 100px;
        margin-top: 350px;
    }

    .wrapper2 h2, p{
        width: 330px;
        text-align: justify;
        color: #fbfbff;
    }
    
    .massage{
        left: -15%;
        top: 30px;
    }
}