/*GENERAL & VARIABLES*/

@import url(contact.css);
@import url(spa.css);
@import url(footer.css);
@import url(largeScreen.css);
@import url(massage.css);
@import url(smallScreen.css);
@import url(spa.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    padding: 0;
  }

 h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2{
      font-size: 1.5rem;
      margin: 0;
      font-weight: bold;
  }

  h3{
      font-size: 1.1rem;
      margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white; 
   }

  :root {
      --primary-color: #8ECAE6;
      --secondary-color: #219EBC;
      --font-size:16px;
      --spacing: 8px;
      --title-font: 'Jost', sans-serif;
      --principal-font: 'Noto Sans', sans-serif;
  } 

